{% extends "base.html" %}
{% load i18n %}
{% load wishlist_extras %}

{% block js %}
<script type="text/javascript">
  $(function() {
      var tr = {
        hide: '{{ HIDE }}',
        show: '{{ SHOW }}'
      };

      var hidden = false;
      var $toggle = $('#toggle');

      $toggle.text(tr.hide);

      $toggle.click(function() {
        if (hidden) {
          $('.taken').show();
          hidden = false;
          $toggle.text(tr.hide);
        } else {
          $('.taken').hide();
          hidden = true;
          $toggle.text(tr.show);
        }
        return false;
      });
  });
</script>
{% endblock %}

{% block content %}
<h1>
    {{ person.first_name }} - {% trans "list of things" %}
    <a href="{% url "item-create" person.pk %}" class="btn btn-primary">{% trans "Add a surprise" %}</a>
</h1>

<p>
  <i class="glyphicon glyphicon-pencil"></i>
<a id="toggle" href></a>
</p>

<hr>

{% for item in items %}
<div class="item row{% if item.buying %} taken{% endif %}">
  <div class="col-12">
    <h3{% if item.surprise %} class="text-danger"{% endif %}>
        {% if item.surprise %}

          <span class="badge badge-danger"
                data-toggle="tooltip"
                data-placement="right"
                title="{% blocktrans with person.first_name as name %}This is surprise, do not tell {{ name }}!{% endblocktrans %}">
            {% trans "Surprise" %}
                </span>
        {% endif %} {{ item.name }}
        {% if item.multi_item %}
            <span class="badge badge-default">{% trans "Multi" %}</span>
        {% endif %}
        {% if item.price %}
          <span class="badge badge-info">{% trans "About" %} {{ item.price }}</span>
        {% else %}
          {% if item.buying %}
            {% for purchase in item.buying %}
                <span class="badge badge-danger">
                    {% trans "Taken by" %}
                    {% if purchase.user.pk == user.pk %}
                        {% trans "me" %}
                    {% else %}
                        {{ purchase.user.first_name }}
                    {% endif %}
                </span>
                &nbsp;
            {% endfor %}
            {% if item.multi_item and not item in my_buying %}
                <span class="badge badge-success">{% trans "Still free" %}</span>
            {% endif %}
          {% else %}
            <span class="badge badge-success">{% trans "Free" %}</span>
          {% endif %}
        {% endif %}
    <small>{{ item.created }}</small>
    </h3>
  </div>

  <br>

  {% if item.price %}
    <div class="progress">
      {% for purchase in item.buying %}
        <div class="progress-bar" role="progessbar" aria-valuenow="{{ purchase.amount }}" aria-valuemin="0" aria-valuemax="{{ item.price }}" style="width: {% percentage purchase.amount item.price %};">
          {{ purchase.user.first_name }} - {{ purchase.amount }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="item-description col-12">
    {{ item.html|safe }}
  </div>

  <div class="col-md-4 col-md-offset-2">
    <form method="post">
      {% csrf_token %}

      <input type="hidden" name="item" value="{{ item.pk }}" />

      {% if item.buying and item in my_buying %}
        {% if item.price %}
          <a href="{% url "contribute" item.pk %}" class="btn btn-primary">{% trans "Change my contribution" %}</a>
          <input type="submit" value="{% trans "Don't contribute anymore" %}" class="btn btn-danger" />
        {% else %}
          <input type="submit" value="{% trans "Don't buy anymore" %}" class="btn btn-danger" />
        {% endif %}
        <input type="hidden" name="action" value="remove" />
      {% elif not item.buying or item.multi_item and not item in my_buying  or item.price %}
        {% if not item.price %}
          <input type="submit" value="{% trans "Commit to buy" %}" class="btn btn-primary" />
        {% endif %}
        {% if not item.multi_item %}
          <a href="{% url 'contribute' item.pk %}" class="btn btn-primary">{% trans "Contribute" %}</a>
        {% endif %}
        <input type="hidden" name="action" value="add" />
      {% endif %}
    </form>
  </div>

<hr>
</div>

{% empty %}

<h3>
  {% blocktrans with person.first_name as name %}{{ name }} already has everything :){% endblocktrans %}
</h3>

{% endfor %}
<script type="text/javascript">
  $("span.badge-danger").tooltip();
</script>

{% endblock %}
