{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>
    {{ person.first_name }} - {% trans "list of things" %}
    <a href="{% url "item-create" person.pk %}" class="btn btn-primary">{% trans "Add a surprise" %}</a>
</h1>
<hr>

{% for item in items %}
<div class="item row">
  <h3{% if item.surprise %} class="text-danger"{% endif %}>
      {% if item.surprise %}
        <span class="glyphicon glyphicon-exclamation-sign"
              data-toggle="tooltip"
              data-placement="left"
              title="{% blocktrans with person.first_name as name %}This is surprise, do not tell {{ name }}!{% endblocktrans %}">
              </span>
      {% endif %} {{ item.name }}
      {% if item.buying %}
        {% for purchase in item.buying %}
            <span class="label label-danger">
                {% trans "Taken by" %}
                {% if purchase.user.pk == user.pk %}
                    {% trans "me" %}
                {% else %}
                    {{ purchase.user.first_name }}
                {% endif %}
            </span>
            &nbsp;
        {% endfor %}
        {% if item.multi_item and not item in myBuying %}
            <span class="label label-success">{% trans "Still free" %}</span>
        {% endif %}
      {% else %}
        <span class="label label-success">{% trans "Free" %}</span>
      {% endif %}
  </h3>

  <div class="item-description col-md-6">
    {{ item.html|safe }}
  </div>

  <div class="col-md-4 col-md-offset-2">
    <form method="post">
      {% csrf_token %}

      <input type="hidden" name="item" value="{{ item.pk }}" />

      {% if item.buying and item in myBuying %}
        <input type="submit" value="{% trans "Don't buy anymore" %}" class="btn btn-danger" />
        <input type="hidden" name="action" value="remove" />
      {% elif not item.buying or item.multi_item and not item in myBuying %}
        <input type="submit" value="{% trans "Commit to buy" %}" class="btn btn-primary" />
        <input type="hidden" name="action" value="add" />
      {% endif %}
    </form>
  </div>

</div>
<hr>
{% endfor %}
<script type="text/javascript">
  $("span.glyphicon-exclamation-sign").tooltip();
</script>

{% endblock %}
