{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
  <h1>Visits</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
      <th>Last 24h</th>
      <th>Last 7 days</th>
      <th>Total</th>
    </thead>

    <tbody>

      {% for visit in visits %}
        <tr>
          <td>
            {% if visit.total == 0 %}
              <span style="color: red;">{{ visit.user.username }}</span>
            {% else %}
              {{ visit.user.username }}
            {% endif %}
          </td>
          <td>{{ visit.last_day }}</td>
          <td>{{ visit.last_week }}</td>
          <td>{{ visit.total }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}
